html, body{
	margin: 0;
	padding: 0;
	
}

.landing-page-wrapper{
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	width: 100%;
}
#menubar-wrapper{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 25px;
	padding-top: 10px;
	color: white;
	font-size: 20px;
	z-index: 5;

}
#menu{
	cursor: pointer;
	font-size: 24px;
}
.img-wrapper{
	width: 25%;
	height: 100vh;
	float: left;
	margin: none;
	padding: none;
}
.landing-page-wrapper #education{
	background: url(images/education-vert.jpg) center center no-repeat;
	background-size: cover;
}
.landing-page-wrapper #music{
	background: url(images/music-vert.jpg) center center no-repeat;
	background-size: cover;
}
.landing-page-wrapper #photography{
	background: url(images/photography-vert.jpg) center center no-repeat;
	background-size: cover;
}
.landing-page-wrapper #videography{
	background: url(images/video-vert.jpg) center center no-repeat;
	background-size: cover;
}
.img-wrapper-text{
	text-align: center;
	background: rgba(0,0,0,0.1);
	color: white;
	height: 100vh;	
}
.img-wrapper-text:hover{
	background: rgba(0,0,0,0.8);
	transition:ease-in .3s;
}
.landing-page-wrapper .img-wrapper .img-wrapper-text .text{
	opacity: 0;
}
.landing-page-wrapper #education:hover .text{
	opacity: 1;
	transition:ease-in .3s;
	cursor: pointer;
	font-size: 28px;
}
.landing-page-wrapper #music:hover .text{
	opacity: 1;
	transition:ease-in .3s;
	cursor: pointer;
	font-size: 28px;
}
.landing-page-wrapper #photography:hover .text{
	opacity: 1;
	transition:ease-in .3s;
	cursor: pointer;
	font-size: 28px;
}
.landing-page-wrapper #videography:hover .text{
	opacity: 1;
	transition:ease-in .3s;
	cursor: pointer;
	font-size: 28px;
}
.landing-page-wrapper #chevron-down{
	text-align: center;
}
#chevron-down-wrapper {
	width: 100%;
	position: absolute;
    bottom: 0;
	color: white;
	text-align: center;
	padding-bottom: 25px;
	font-size: 36px;

}
#chevron-down-wrapper i{
	border:solid white 1px;
	border-radius:50%; 
	padding: 20px;
}
#chevron-down-wrapper i:hover{
	background: white;
	cursor: pointer;
	transition:ease-in .3s;
	color: black;
}
/*

	NAVIGATION MENU STYLES

*/
#navbar-wrapper{
	width:30%;
	background: black;
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
	position: fixed;
	top: 0;
	right:0;
	height: 100%;
	z-index: 3000;
	transform:translateX(100%);
	transition:0.3s ease-out;
}
#navbar-wrapper header ul li{
	display: block;
	margin: 30px 25px 20px 0px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}
#navbar-wrapper.open{
	transform:translateX(0);
	transition:ease-in 0.3s;

}
#close{
	cursor: pointer;
	font-size: 20px;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:link{
	color:white;
	text-decoration: none;
}
a:hover{
	opacity:0.4;
	transition:ease-in .3s;
}
a:active{
	color: white;
}

/*

	ABOUT SECTION

*/
#about-section{
	height: 100vh;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	background: url(images/aboutme.jpg) center center no-repeat;
	background-size: cover;
	color: white;

}
#about-shade{
	float: right;
	height: 100%;
	background: rgba(0,0,0,0.6);
	width: 40%;
}

#about-section-quote{
	width: 100%;
	text-align: left;
	max-width: 25rem;
	margin: auto;



}
/*

	CONTACT SECTION

*/
#contact-wrapper{
	width: 100%;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;

}
#contact-img{
	background: url(images/citynyc.jpg) center center no-repeat;
	height: 50vh;
	background-size: cover;	
}
#contact-img-text-wrapper{	
	height: inherit;
	background: rgba(0,0,0,0.4);
	text-align: center;	
	font-size: 28px;
	color: white;
}
#contact-info-wrapper{
	height: 50vh;
	color: black;	
	text-align: center;	
}
.contact-info-text{
	float: left;
	width: 33%;
}
.facebook-big, .instagram-big, .envelope-big{
	font-size: 72px;
	cursor: pointer;
	padding-bottom: auto;
}
.social_icon{
	height: 100%;
}
.contact-info-text:hover{
	background: black;
	color: white;
	transition: ease-in 0.4s;
}


/*

	MEDIA SCREEN BEGINNING 
	MAX WIDTH 855px

*/ 

@media screen and (max-width:855px){
	.landing-page-text #main-tagline{
		font-size: 28px;
	}

}

/*
	
	MAX WIDTH 718PX

*/
@media screen and (max-width:718px){
	.landing-page-text .logo{
		margin-bottom: 25px;
		font-size: 36px;
	}
	.landing-page-text .tagline{
		font-size: 18px;
	}
	.landing-page-text #main-tagline{
		font-size: 18px;
	}
	.social-feed-wrapper i{
		font-size: 18px;
	}

}
/*

	MAX WIDTH 432PX

*/
@media screen and (max-width: 460px){
	#navbar-wrapper{
		width:40%;
		background: black;
		color: white;
		font-size: 12px;
		letter-spacing: 2px;
		position: fixed;
		top: 0;
		right:0;
		height: 100%;
		transform:translateX(100%);
		transition:0.3s ease-out;
}


}

